  td{
  
  text-align:left;
  
  }

input[type=text] {
  border: none;
  border-bottom: 2px solid blue;
}

select {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=password] {
  border: none;
  border-bottom: 2px solid blue; 
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box; 
  
  
}


input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#errorName{
color:red;
}

#errorlname{
color:red;
}

#errorEmail{
color:red;
}

#errorPhone{
color:red;
}

#errorUser{
color:red;
}

#errorPass{
color:red;
}

#errorAddress{
color:red;
}

#errorCity{
color:red;
}

#errorState{
color:red;
}

#errorZip{
color:red;
}

#errorCountry{
color:red;
}

#errorSubmit{
color:red;
}
