.warning {
    color:red;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; 
  
}

.wrapper textarea{
  height: 80px;
  resize: none; 
}

.wrapper .btn input [type="submit"] {
  
  cursor: pointer; 
}